.green-btn{
    background: #4CAF4F;
    color: #FFFF;
    font-weight: 400;
}

.green-btn:hover .green-btn:fous{
    background: #4CAF4F;
    color: #FFFF;

}

h5{
    color:  #4CAF4F;;
}
h5 a{
    color:  #4CAF4F;
    text-decoration: none;
}

.text-translate{
    transform: translateY(-110%);
    background: #8f2929;
    margin: 25px;
    border-radius: 10px;
}

.text-translate p,a{
    margin: 10px;
    height: 70px;
    
}
    

